[opener]
edit = [
  { run = '${EDITOR:-helix} "$@"', desc = "$EDITOR", block = true, for = "unix" },
  { run = 'code %*', orphan = true, desc = "code", for = "windows" },
  { run = 'code -w %*', block = true, desc = "code (block)", for = "windows" },
]
open = [
  { run = 'eog "$1"', desc = "Open", for = "linux" },
  { run = 'mpv "$1"', desc = "Open", for = "linux" },
  { run = 'xdg-open "$1"', desc = "Open", for = "linux" },
  { run = 'open "$@"', desc = "Open", for = "macos" },
  { run = 'start "" "%1"', orphan = true, desc = "Open", for = "windows" },
  { run = 'termux-open "$1"', desc = "Open", for = "android" },
]
reveal = [
  { run = 'xdg-open "$(dirname "$1")"', desc = "Reveal", for = "linux" },
  { run = 'open -R "$1"', desc = "Reveal", for = "macos" },
  { run = 'explorer /select,"%1"', orphan = true, desc = "Reveal", for = "windows" },
  { run = 'termux-open "$(dirname "$1")"', desc = "Reveal", for = "android" },
  { run = '''clear; exiftool "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show EXIF", for = "unix" },
]
extract = [
  { run = 'ya pub extract --list "$@"', desc = "Extract here", for = "unix" },
  { run = 'ya pub extract --list %*', desc = "Extract here", for = "windows" },
]
play = [
  { run = 'mpv --force-window "$@"', orphan = true, for = "unix" },
  { run = 'mpv --force-window %*', orphan = true, for = "windows" },
  { run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]

open-pdf = [{ run = "okular $1", desc = "Open", for = "linux" }]

[open]
rules = [
  # Folder
  { name = "*/", use = [
    "edit",
    "open",
    "reveal",
  ] },
  { mime = "application/pdf", use = [
    "open-pdf",
  ] },
  # Text
  { mime = "text/*", use = [
    "edit",
    "reveal",
  ] },
  # Image
  { mime = "image/*", use = [
    "open",
    "reveal",
  ] },
  # Media
  { mime = "{audio,video}/*", use = [
    "play",
    "reveal",
  ] },
  # Archive
  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [
    "extract",
    "reveal",
  ] },
  # JSON
  { mime = "application/{json,ndjson}", use = [
    "edit",
    "reveal",
  ] },
  { mime = "*/javascript", use = [
    "edit",
    "reveal",
  ] },
  # Empty file
  { mime = "inode/empty", use = [
    "edit",
    "reveal",
  ] },
  # Fallback
  { name = "*", use = [
    "open",
    "reveal",
  ] },
]

# [plugin]
# preloaders = [
#   # Do not preload files in mounted locations:
#   # Environment variable won't work here.
#   # Using absolute path instead.
#   { name = "/run/user/1000/gvfs/**/*", run = "noop" },

#   # For mounted location for hard disk/drive
#   { name = "/run/media/USER_NAME/**/*", run = "noop" },
#   #... the rest of preloaders
# ]
# previewers = [
#   # Allow to preview folder.
#   { name = "*/", run = "folder", sync = true },
#   # Do not previewing files in mounted locations (uncomment to except text file):
#   # { mime = "{text/*,application/x-subrip}", run = "code" },
#   # Using absolute path.
#   { name = "/run/user/1000/gvfs/**/*", run = "noop" },

#   # For mounted hard disk.
#   { name = "/run/media/USER_NAME/**/*", run = "noop" },
#   #... the rest of previewers
# ]

prepend_preloaders = [
  # Do not preload files in mounted locations:
  # Environment variable won't work here.
  # Using absolute path instead.
  { url = "/run/user/1000/gvfs/**/*", run = "noop" },

  # For mounted hard disk/drive
  { url = "/run/media/USER_NAME/**/*", run = "noop" },
]
prepend_previewers = [
  # Allow to preview folder.
  { url = "*/", run = "folder" },

  # Do not previewing files in mounted locations.
  # Uncomment the line below to allow previewing text files.
  # { mime = "{text/*,application/x-subrip}", run = "code" },

  # Using absolute path.
  { url = "/run/user/1000/gvfs/**/*", run = "noop" },

  # For mounted hard disk/drive.
  { url = "/run/media/USER_NAME/**/*", run = "noop" },
]
