/* === Palet Warna Tokyo Night Storm === */
@define-color base_bg #24283b;
@define-color base_fg #c0caf5;
@define-color muted_fg #565f89;
@define-color blue #7aa2f7;
@define-color cyan #7dcfff;
@define-color white #f7f7f7;
@define-color red #f7768e;
@define-color orange #ff9e64;
@define-color green #9ece6a;

/* === Waybar Global === */
* {
  font-family: "JetBrainsMonoNLNerdFont", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: @base_bg;
  color: @base_fg;
  border-bottom: 2px solid @blue;
}

/* === Workspaces === */
#workspaces button {
  padding: 0 10px;
  color: @blue;
  background: transparent;
  border: none;
}
#workspaces button:hover {
  color: @blue;
  background: transparent;
  box-shadow: none;
  border: solid @blue 1px;
}
#workspaces button.active {
  color: @white;
  border-radius: 0px;
}

#workspaces button.urgent {
  color: @red;
}

/* === Modules Style === */
#custom-power,
#clock,
#battery,
#network,
#pulseaudio,
#backlight,
#tray,
#cpu,
#temperature,
#idle_inhibitor,
#memory {
  background-color: @base_bg;
  margin-right: 15px;
  color: @base_fg;
  border-bottom: 2px solid @blue;
}

#temperature.critical {
   color: @red; 
}

/* === Battery === */
#battery.warning {
  color: @orange;
}

#battery.critical {
  color: @red;
}

/* === Network === */
#network.disconnected {
  color: @red;
}

/* === Pulseaudio === */
#pulseaudio.muted {
  color: @orange;
}

/* === Misc === */
#idle_inhibitor.activated {
  color: @green;
}

#tray>.needs-attention {
  background-color: @red;
  color: @white;
}
